<section>
  <div class="slick-slider">
    <div class="element element-1">1</div>
    <div class="element element-2">2</div>
    <div class="element element-3">3</div>
    <div class="element element-4">4</div>
    <div class="element element-5">4</div>
    <div class="element element-6">6</div>
    <div class="element element-7">7</div>
    <div class="element element-8">8</div>
    <div class="element element-9">9</div>
    <div class="element element-10">10</div>
  </div>
</section>
<section>
  <div id="page">
    <div class="row">
      <div class="slider slider-single">
        <div>
          <img
            src="https://images.unsplash.com/photo-1656336659715-dad97d10af6a?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzYxNDI&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1656230776385-c40b3ec3feb7?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzYxNDI&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1657143376804-2c8ef7bfa72d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzYxNDI&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1656014816561-8fdaa3c6b11d?crop=100x100entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY2ODM&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1657659558323-08b7854ed766?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY3MjA&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1657182688568-fdddf99fcd09?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY3MjA&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1656389426118-0844b68ec32e?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY4Mjk&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1656376406339-46519f18c397?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY5MTI&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
      </div>
      <div class="slider slider-nav">
        <div>
          <img
            class="custom-slide"
            src="https://images.unsplash.com/photo-1656336659715-dad97d10af6a?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzYxNDI&ixlib=rb-1.2.1&q=80"
          >
        </div>
        <div>
          <img
            class="custom-slide"
            src="https://images.unsplash.com/photo-1656230776385-c40b3ec3feb7?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzYxNDI&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            class="custom-slide"
            src="https://images.unsplash.com/photo-1657143376804-2c8ef7bfa72d?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzYxNDI&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            class="custom-slide"
            src="https://images.unsplash.com/photo-1656014816561-8fdaa3c6b11d?crop=100x100entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY2ODM&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            class="custom-slide"
            src="https://images.unsplash.com/photo-1657659558323-08b7854ed766?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY3MjA&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            class="custom-slide"
            src="https://images.unsplash.com/photo-1657182688568-fdddf99fcd09?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY3MjA&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            class="custom-slide"
            src="https://images.unsplash.com/photo-1656389426118-0844b68ec32e?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY4Mjk&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
        <div>
          <img
            class="custom-slide"
            src="https://images.unsplash.com/photo-1656376406339-46519f18c397?crop1920x600=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTg1NzY5MTI&ixlib=rb-1.2.1&q=80"
            alt=""
            srcset=""
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Single image slider",
     "tag": "section",
    "settings": [],
 "presets": [
    {
      "name": "Singl image slider"
    }
  ]
}
{% endschema %}
