@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;700&family=PT+Mono&display=swap");
@media (min-width: 992px) {
  .header {
    padding: 22px 32px 22px 40px;
  }
}

@media (min-width: 1366px) {
  .header {
    padding: 1.611vw 2.343vw 1.611vw 2.928vw;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 20px 20px 18px 20px;
  }
}

.header .header__wrapper {
  padding: unset;
}

@media (max-width: 991px) {
  .header .header__wrapper {
    gap: 32px 0;
  }
}

@media (max-width: 991px) {
  .header .header__logo {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media (max-width: 991px) {
  .header .header__main-nav {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media (max-width: 991px) {
  .header .icon-hamburger {
    width: 25px;
    height: 8px;
  }
}

@media (min-width: 1366px) {
  .header .icon-hamburger {
    width: 3.075vw;
    height: 0.952vw;
  }
}

@media (max-width: 991px) {
  .header .header__icon-list {
    gap: 28px;
  }
}

@media (min-width: 992px) {
  .header .header__icon-list {
    gap: 40px;
  }
}

@media (min-width: 1366px) {
  .header .header__icon-list {
    gap: 2.928vw;
  }
}

@media (max-width: 991px) {
  .header .header__icon-list .icon-cart, .header .header__icon-list .icon-search {
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 1366px) {
  .header .header__icon-list .icon-cart, .header .header__icon-list .icon-search {
    width: 1.757vw;
    height: 1.757vw;
  }
}

.header .header-quote {
  font-family: "Kiwari Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #2e2e2e;
}

@media (max-width: 991px) {
  .header .header-quote {
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media (min-width: 992px) {
  .header .header-quote {
    position: relative;
    right: 10.249vw;
  }
}

@media (min-width: 1366px) {
  .header .header-quote {
    font-size: 1.025vw;
    line-height: 1.171vw;
  }
}

.header-border {
  position: absolute;
  height: 1px;
  background: black;
}

@media (max-width: 991px) {
  .header-border {
    width: 100vw;
    height: 1px;
    top: 60px;
  }
}

@media (min-width: 992px) {
  .header-border {
    width: 47.2%;
    bottom: 0px;
  }
}

@media (min-width: 1366px) {
  .shopify-section--header .header .header__logo-image {
    width: 7.906vw !important;
    height: 1.757vw !important;
  }
}

.hamburger-menulist {
  gap: 44px;
}

@media (min-width: 992px) {
  .hamburger-menulist {
    gap: 44px;
  }
}

@media (min-width: 1366px) {
  .hamburger-menulist {
    gap: 3.221vw;
  }
}

.hamburger-menulist .reversed-link {
  font-family: "Kiwari Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000201;
}

@media (min-width: 1366px) {
  .hamburger-menulist .reversed-link {
    font-size: 1.171vw;
    line-height: 1.171vw;
  }
}

.hamburger-menulist .catalog::after {
  content: " ";
  position: relative;
  top: 0;
  left: 15px;
  width: 15px;
  height: 12px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMSAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDcuNUw1LjUgMTJNNS41IDEyTDEgNy41TTUuNSAxMkw1LjUgLTEuOTY3MDFlLTA3IiBzdHJva2U9IiMyRTJFMkUiLz4KPC9zdmc+Cg==);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

@media (min-width: 1366px) {
  .hamburger-menulist .catalog::after {
    left: 1.098vw;
    width: 1.098vw;
    height: 0.878vw;
  }
}

@media (min-width: 992px) {
  .navigation-drawer {
    width: 352px !important;
  }
}

@media (min-width: 1366px) {
  .navigation-drawer {
    width: 25.769vw !important;
  }
}

@media (min-width: 1366px) {
  .navigation-drawer::part(body) {
    gap: 2.343vw;
  }
}

@media (min-width: 1366px) {
  .panel__wrapper {
    padding: 0 4.392vw 2.343vw;
  }
}
/*# sourceMappingURL=header.css.map */